{% extends "../home.html" %}
{% block content %}
    <p><a href="{% url 'client_create' %}">Добавить пользователя</a></p>
    <p><a href="{% url 'claims_create' %}">Добавить заявку</a></p>


<form action="{% url 'status_category_filter' %}" method="get">
    <p>Выберите фильтр:</p>
    <ul>
    {% for category in view.get_categories %}
        <li>
            <input type="checkbox" name="category" value="{{ category.name }}">
            <span>{{ category.name }}</span>
        </li>
    {% endfor %}
    </ul>
    <ul>
        {% for status in view.get_status %}
            <li>
                <input type="checkbox" name="status" value="{{ status }}">
                <span>{{ status|capfirst }}</span>
            </li>
        {% endfor %}
    </ul>
        <button type="submit">Фильтровать по типу заявки</button>
</form>
    <br>
    <form action="{% url 'date_filter' %}" method="get">
        <input type="date" name="selected_date" value="{{view.get_selected_date}}">
        <button type="submit">Фильтровать по дате</button>
    </form>
    <br>
  <form action="{% url 'daterange_filter' %}" method="get">
        <input type="date" name="start_date" value="{{view.get_start_date}}">
        <input type="date" name="end_date" value="{{view.get_end_date}}">
        <button type="submit">Фильтровать по промежутку дат</button>
  </form>
    <br>
    <a href="{% url 'claims_list' %}">Вернуться ко всем заявкам</a>
    <br>
    {% for claim in claims %}
        <br>
        <a href="{% url 'claims_update' claim.id %}" class="p">{{ claim.name }}</a>
        <p>Создана: {{ claim.created | date:'Y-m-d' }} Статус: {{ claim.status }} </p>
        <p>Категория: {{ claim.category }}</p>
        <p>Автор: {{ claim.owner }}</p>
        <p>Иcполнитель: {{ claim.executor }}</p>
    {% empty %}
        <p>Заявки отсутвуют</p>
    {% endfor %}
{% endblock %}